@import './variables.scss';
@import './utilities.scss';
@import './controls.scss';

html {
    font-size: 14px;
}
body {
    margin: 0;
    color: $dark;
}

.header {
    display: flex;
    margin-bottom: 1rem;
    &-item {
        background-color: $light;
        padding: 1rem;
        text-align: center;
        width: 100%;
        text-decoration: none;
        font-size: 1.25rem;
        border: 1px solid darken($light, 5%);
        &:not(:last-child) {
            border-right: none;
        }
        &:hover {
            background-color: darken($light, 5%);
        }
    }
}

.panel {
    border: 1px solid $secondary;
    padding: 2rem;
    border-radius: $border-radius;
    background-color: $light;
    margin: .5rem;
    &-container {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -.5rem;
    }
    &-sm {
        flex: 0 0 25%;
        max-width: 25%;
    }
    &-md {
        flex: 0 0 50%;
        max-width: 50%;
    }
    &-lg {
        flex: 0 0 75%;
        max-width: 75%;
    }
    &-position {
        &-left {
            justify-content: start;
        }
        &-center {
            justify-content: center;
        }
        &-right {
            justify-content: right;
        }
    }
}